<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087614594522-dtbjibdck9drdadvc747uqt71vf5c6bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087614594522-dtbjibdck9drdadvc747uqt71vf5c6bi</string>
	<key>API_KEY</key>
	<string>AIzaSyDITSj7JfBbzQ6uBHZIeI06f-m5djTV8BY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087614594522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theNotes</string>
	<key>PROJECT_ID</key>
	<string>the-note-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>the-note-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087614594522:ios:887ad2a435477b20b1e4e3</string>
</dict>
</plist>